@charset "ISO-8859-1";

@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
	font-family: "Montserrat italic";
	src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body {
	background-color: #1c1b1e;
}

#top {
	border-bottom: 2px solid #f6f5f4;
	margin-bottom: 30px;
}

h1 {
	color: #f6f5f4;
	display: inline;
}

#add {
	background: url(../images/plus.svg) no-repeat center;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: inline;
	float: right;
}

#add:hover {
	background-color: #84817F;
}

#movie-edit {
	background: url(../images/edit.svg) no-repeat center;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

#movie-edit:hover {
	background-color: #84817F;
}

#delete-form {
	display: inline;
}

#delete-movie-button {
	background: url(../images/bin.svg) no-repeat center;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	display: inline;
	margin-left: 10px;
	vertical-align: middle;
	border: none;
	cursor: pointer;
}

#delete-movie-button:hover {
	background-color: #84817F;
}