@charset "ISO-8859-1";

#address-deets {
	display: inline-block;
	margin-left: 30px;
	border: 1px solid red;
}

.address-radio-button {
	/* margin-top: 40px; */
	position: fixed;
	vertical-align: middle
}

label {
	display: block;
	font-size: 20px;
	font-weight: 500px;
	color: #f6f5f4;
}

#main-container {
	margin-left: 400px;
	margin-right: 400px;
}
