@charset "ISO-8859-1";

@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
	font-family: "Montserrat italic";
	src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body {
	font-family: Montserrat, Serif;
	text-align: center;
	color: #84817F;
}

header {
	overflow-y: visible;
	background-color: #1C1B1E;
	/* background-color: #3C333D; */
	padding-top: 30px;
	padding-bottom: 30px;
	color: #f6f5f4;
	padding-left: 70px;
	padding-right: 70px;
}

#logo {
	display: inline;
	float: left;
	/* width: 300px; */
	/* border: 1px solid white; */
}

#header-logo {
	width: 200px;
}

.nav-buttons {
	padding: 8px;
	font-size: 18px;
	font-weight: 600;
	color: #f6f5f4;
	text-decoration: none;
	border-radius: 15px;
	margin: 0 15px 0 15px;
}

.nav-buttons:hover {
	background-color: #84817F;
}

.header-center {
	display: inline-flex;
	/* border: 1px solid; */
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.right-buttons {
	height: 40px;
	width: 40px;
	border: none;
	background: transparent;
	cursor: pointer;
	color: inherit;
	font-size: 18px;
	border-radius: 50%;
}

#cart {
	text-indent: -999999999px;
	background: url(../images/shopping-cart.svg) no-repeat center;
}

#login {
	text-indent: -999999999px;
	background: url(../images/log-in.svg) no-repeat center;
}

#search-main, #search-side {
	background: url(../images/search-light.svg) no-repeat center;
	text-indent: -99999999px;
}

#cart:hover, #dropbtn:hover, #search-main:hover, #search-side:hover, #login:hover {
	background-color: #84817F;
}

#search-form, #search-form-side {
	border-radius: 15px;
	border: 1px solid #f6f5f4;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

#search-bar-main, #search-bar-side{
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 14px;
	margin: 0 auto;
	color: inherit;
	width: 150px;
	font-family: Montserrat, Serif;
	padding-left: 5px;
	vertical-align: middle;
}



#search-bar-main::-webkit-search-cancel-button {
	display: none;
}

#search-bar-side::-webkit-search-cancel-button {
	display: none;
}

.accountLinks:hover {
	background-color: #84817F;
}

.user-dropdown:hover .dropdown-content {
	display: block;
}

#header-right {
	display: inline-flex;
	float: right;
	background-color: inherit;
	justify-content: center;
	width: auto;
}

#cart-items {
	font-size: 12px;
	background: #84817F;
	color: inherit;
	padding: 1px 7px;
	vertical-align: top;
	border-radius: 50%;
	position: relative;
	height: 20px;
}

.active {
	outline: 2px solid white;
}

.active:hover {
	border-radius: 15px;
	border: none;
}

#account {
	text-indent: -9999999px;
	background: url(../images/user-light.svg) no-repeat center;
}

#account:hover {
	background-color: #84817F;
}

#three-lines {
	display: none;
	background: url(../images/menu1.svg) no-repeat center;
}

#three-lines:hover {
	background-color: #84817F;
}

#sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	background-color: #0b0b0c;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	box-shadow: 5px 5px 5px black;
}

#sidenav a {
	text-decoration: none;
	font-size: 20px;
	color: #f6f5f4;
	display: block;
	transition: 0.3s;
	line-height: 2;
}

#sidenav a:hover {
	color: #84817F;
	padding-left: 8px;
}

#closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 25px;
	border-radius: 50%;
	color: #f6f5f4;
	border: none;
	background: transparent;
	cursor: pointer;
	padding-top: 20px;
	
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

@media ( max-width : 1063px) {
	.nav-buttons {
		margin: 0px 10px 0px 10px;
	}
	header {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media ( max-width : 849px) {
	
	.nav-buttons {
		margin: 0 2px 0 2px;
	}
	
	#header-logo {
		width: 200px;
	}
	.nav-buttons {
		font-size: 14px;
		font-weight: 500;
	}
	.header-right {
		width: 300px;
		vertical-align: middle;
	}
	
	#search-form {
		width: 200px;
	}
	
	.search-bar {
		font-size: 12px;
	}
}

@media ( max-width : 767px) {
	#header-center>* {
		display: none;
	}
	.nav-buttons {
		display: none;
	}
	#three-lines {
		float: left;
		display: inline;
	}
	#logo {
		float: none;
	}
	#header-logo {
		height: 40px
	}
	
	#search-form {
		display: none;
	}
	
	#search-form-side {
		width: 200px;
		border-color: #f6f5f4;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
}