@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
	font-family: "Montserrat italic";
	src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body {
	font-family: Montserrat, Serif;
	background-color: #1C1B1E;
	text-align: center;
	color: #f6f5f4;
	margin: 0px;
	overflow-x: hidden;
}

body>* {
	font-family: Montserrat, Serif;
}


h3 {
	font-size: 20px;
	text-align: left;
	color: #1C1B1E;
}

#new-movies {
	text-align: left;
}

#movie {
	box-sizing: border-box;
	width: 20%;
	position: relative;
	margin: auto;
	display: flex;
	background-color: black;
	color: #f6f5f4;
}

#poster {
	text-align: center;
	/* border: 1px solid red; */
	width: 65%;
	float: right;
}


#movie-deets {
	padding: 10px;
}

#slideshow-container {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	margin: auto;
	display: flex;
	background-color: black;
	color: #f6f5f4;
}


.movie-slide {
	display: none;
}

#poster-slide {
	text-align: center;
	/* border: 1px solid red; */
	width: 65%;
	float: right;
	z-index: 3;
}

#prev, #next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #1C1B1E;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	z-index: 4;
}

#next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

#prev {
	left: 0;
}

#prev:hover, #next:hover {
	background-color: #1C1B1E;
	color: #f6f5f4;
}

#caption {
	color: inherit;
	font-size: 15px;
	text-align: center;
	height: 100%;
	position: absolute;
	width: 40%;
	z-index: 2;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

#title {
	font-size: 80px;
	font-weight: bold;
	padding-top: 140px;
	text-align: center;
	display: list-item;
	height: 40%;
}

#price {
	display: inline;
	margin-left: 40px;
	font-size: 28px;
	font-weight: 600;
	padding-right: 70px;
}

#add-to-cart {
	background-color: #f6f5f4;
	color: black;
	width: 150px;
	height: 60px;
	border-radius: 8%/20%;
	box-shadow: none;
	border-style: solid;
	cursor: pointer;
	font-size: 20px;
	display: inline;
	font-weight: 500;
	font-family: Montserrat, Serif;
}

#add-to-cart-form {
	text-align: left;
	/* border: 1px solid red; */
	display: inline;
}

.scale{
	transition: all .5s ease-in-out;
}

.scale:hover {
	transform: scale(1.1);
}

#more-info {
	background: url(../images/info.svg) no-repeat center;
	height: 50px;
	width: 50px;
	text-indent: -999999999999px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-color: #84817F;
	display: inline-block;
	transition: all .5s ease-in-out;
}

#more-info:hover {
	background: url(../images/info-dark.svg) no-repeat center;
	background-color: #f6f5f4;
}

#slide-bottom {
	/* border: 1px solid white; */
	position: absolute;
	padding-top: 300px;
	text-align: center;
	width: 40%;
	z-index: 2;
	height: 100%;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes fade {
	from {opacity: 0.4
}

to {
	opacity: 1
}

}
@media ( max-width : 1600px) {
	#slideshow-cointainer {
		width: 100%;
		height: auto;
	}
	#title {
		padding-top: 75px
	}
}

@media ( max-width : 1440px) {
	#title {
		padding-top: 50px;
		font-size: 60px;
	}
}

@media ( max-width : 1060px) {
	#slideshow-container {
		width: 100%;
		height: auto;
	}
	#title {
		font-size: 50px;
	}
	#add-to-cart {
		width: 100px;
		height: 40px;
		font-size: 14px;
	}
	#price {
		font-size: 16px;
	}
	#more-info {
		height: 40px;
		width: 40px;
	}
	#slide-bottom {
		padding-top: 150px;
	}
	@media ( max-width : 870px) {
		#title {
			font-size: 40px;
		}
	}
	@media ( max-width : 768px) {
		#add-to-cart {
			width: 75px;
			height: 30px;
			font-size: 12px;
		}
		#price {
			font-size: 12px;
		}
		#more-info {
			width: 20px;
			height: 20px;
		}
		#title {
			padding-top: 50px;
		}
		#prev, #next {
			padding: 10px;
			font-size: 12px;
		}
	}
	@media ( max-width : 697px) {
		#title {
			font-size: 30px;
		}
		#slide-bottom {
			padding-top: 100px;
		}
	}
	@media ( max-width : 628px) {
		#add-to-cart {
			margin-right: -20px
		}
		#more-info {
			margin-left: -20px;
		}
	}
	@media ( max-width : 610px) {
		#title {
			padding-top: 20px;
		}
	}
	@media ( max-width : 550px) {
		#title {
			font-size: 20px;
		}
		#more-info {
			margin-left: -30px;
		}
		#price {
			margin-right: -10px;
		}
		
		@media (max-width: 480px) {
			#price {
				margin-right: -20px;
			}
			
		}
	}
}