@charset "ISO-8859-1";

.form-container {
	padding: 100px;
	padding-top: 70px;
}

.error {
	text-align: center;
}

h3 {
	font-size: 30px;
}

#payment-options-container {
	margin: 0;
}

.side-left {
	margin: 0;
}

.p {
	color: #84817f;
	display: inline;
}

.centered {
	width: 80%;
}
